Flask
Flask-Cors
gunicorn
llama-index
llama-parse
python-dotenv
requests
Flask-Login
azure-storage-blob
python-dotenv
arize-phoenix-otel
openinference-instrumentation-llama_index
openinference-instrumentation-openai
wandb==0.16.6
llama-index-callbacks-wandb==0.2.0